# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env

# Alembic
alembic/versions/__pycache__/

# VS Code
.vscode/

# Mac
.DS_Store

# Docker
*.log
postgres_data/

# Testing
.pytest_cache/

# Build
dist/
build/

# Node (if frontend added later)
node_modules/
.next/
